/* BODY */
body {
  background-color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  margin-top: 120px;
}

/* HEADER */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: gray;
  box-sizing: border-box;
  padding: 10px 0;
}


/* Stile per il menu header*/
.header .menu {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

/* Stile per la lista del menu header */
.header ul {
  list-style-type: none;
  background-color: gray;
  overflow: hidden;
  font-size: 20px;
}

.header ul a {
  display: block;
  padding: 5px;
  text-decoration: none;
  color: lightgray;
}

.header ul a:hover {
  color: rgb(156, 12, 12); /* Cambia il colore del testo al passaggio del mouse */
  
}

/* Contenitore per l'icona hamburger */
.header .menu-icon {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 20px 20px;
  cursor: pointer;
  display: none; /* Nascondi l'icona in modalità desktop */
}

/* Stile per le linee dell'hamburger */
.header .menu-icon .nav-icon {
  display: block;
  background-color: lightgray;
  width: 18px;
  height: 2px;
  position: relative;
  transition: background-color 0.2s ease-in-out;
}

.header .menu-icon .nav-icon::before,
.header .menu-icon .nav-icon::after {
  background-color: lightgray;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
}

.header .menu-icon .nav-icon::before {
  top: 5px;
}

.header .menu-icon .nav-icon::after {
  top: -5px;
}

/* Nasconde la casella di checkbox ma lascia la funzionalità */
.header .menu-btn {
  display: none;
}

/* Anima l'hamburger in una X quando è attivo */
.header .menu-btn:checked ~ .menu-icon .nav-icon {
  background-color: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon::before {
  transform: rotate(45deg);
  top: 0;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon::after {
  transform: rotate(-45deg);
  top: 0;
}

/* Stile per il sottomenu (inizialmente nascosto) */
.menu .shop {
  display: none;
  position: absolute;
  background-color: gray;
  list-style-type: none;
  padding: 5px;
  border: 1px solid gray;
  margin-top: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Mostra il sottomenu anche in modalità mobile quando si passa sopra "Shop" */
.menu li:hover .shop {
  display: block;
}

/* Stile per le voci del sottomenu */
.menu .shop li {
  padding: 5px 10px;
  color: gray;
}

/* Cambia il colore delle voci del sottomenu in rosso al passaggio del mouse */
.menu .shop li:hover {
  color: rgb(156, 12, 12);
  
}

/* logo */
.logo {
  width: 100px;
  margin: 0 10px;
  padding: 0;
  border-radius: 100px;
  
}

/* Stile specifico per dispositivi mobili */
@media (max-width: 578px) {
  .header .menu {
    display: none; /* Nasconde il menu in modalità mobile */
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 120px; /* Porta il menu più in basso */
    background-color: gray; /* Colore di sfondo grigio */
    z-index: 1;
  }

  .header .menu-btn:checked ~ .menu {
    display: flex; /* Mostra il menu quando l'hamburger è attivo */
  }

  .header ul a {
    color: lightgray;
  }

  .header ul a:hover {
    color: rgb(156, 12, 12); /* Colore delle scritte rosso al passaggio del mouse */
  }

  .header .menu-icon {
    display: block; /* Mostra l'icona dell'hamburger */
  }

  /* Stile per il sottomenu in modalità mobile */
  .menu .shop {
    position: relative;
    background-color: gray;
    color: lightgray;
  }
}

/* Stile specifico per dispositivi desktop */
@media (min-width: 579px) {
  .header .menu {
    display: flex; /* Mostra il menu */
  }

  .header .menu-icon {
    display: none; /* Nasconde l'icona dell'hamburger */
  }
}



.img {
  width: 250px;
  margin-top: 20px;
  border-radius: 25px;
  margin-bottom: 20px;
  z-index: 1;
 
}

.col .effect img {
  -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
  filter: blur(5px);
}

/*testo e logo sopra l'immagine*/
.container .row .col .immagine {
 /* display: grid;
  align-items: center; 
  grid-template-columns: 1fr 1fr;
  column-gap: 2px;
  border: 2px solid white; 
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
  width: 300px; /* Imposta una larghezza fissa */
  height: 100px; /* Imposta un'altezza fissa */
 /* overflow: hidden; /* Nasconde eventuali contenuti eccedenti */
 /* margin-top: 20px;*/
 }
 
 .container .row .col .immagine .text {
   font-size: 20px;
  
 }


/* Dropdown Content (Hidden by Default) */
.container .row .col .dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


/* Change color of dropdown links on hover */
.container .row .col .dropdown .dropdown-content p:hover {
  background-color: #ddd;
  
}

/* Show the dropdown menu on hover */
.container .row .col .dropdown:hover .dropdown-content {
  display: block;
}

.container .row .col .dropdown a {
  color: rgb(156, 12, 12);
  text-decoration: none;
  font-weight: bold;
 
  
}

.container .row .col .button .btn {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.container .row .col  .button .default {
    border-color: lightgray;
    color: black;
    font-weight: bold;
}

.container .row .col  .button .default:hover {
  background: lightgray;
  border: 2px solid gray;
}

.container .row .col .button a{
  text-decoration: none;
  color: black;
}

.container .row .col .image-wrapper {
  position: relative; /* Necessario per posizionare il ribbon */
  display: inline-block;
}

.container .row .col .image-wrapper .ribbon {
  width: 80px;
  font-size: 16px;
  padding: 4px;
  position: absolute;
  right: -10px;
  top: 10px;
  text-align: center;
  border-radius: 25px;
  transform: rotate(25deg);
  background-color: #ff9800;
  color: white;
  font-weight: bold;
  z-index: 10; /* Assicurati che sia sopra l'immagine */
}

.container .row .col .image-wrapper .ribbon2 {
  width: 80px;
  font-size: 16px;
  padding: 4px;
  position: absolute;
  right: -10px;
  top: 10px;
  text-align: center;
  border-radius: 25px;
  transform: rotate(25deg);
  background-color: green;
  color: white;
  font-weight: bold;
  z-index: 10; /* Assicurati che sia sopra l'immagine */
}


/* FOOTER */
footer {
  background-color: gray;
  width: 100%;
  padding: 20px 40px; /* Margine interno per più spazio */
  color: lightgray;
  margin-top: 30px;
}

.footer-container {
  display: flex;
  justify-content: space-between; /* Spaziatura tra i due blocchi */
  align-items: flex-start; /* Allinea verticalmente gli elementi */
  padding: 10px 20px;
  
}

.footer-left {
  width: 50%; /* Testo a sinistra con il 50% dello spazio */
}


.footer-left h3 {
  margin-bottom: 30px;
  margin-top: 50px;
}

.footer-left p, 
.footer-left a {
  margin: 5px 0; /* Spaziatura per i paragrafi e i link */
}

.footer-right {
  width: 45%; /* Spazio per la mappa e il logo social */
  text-align: right; /* Allinea a destra il contenuto */
}


.social-media {
  margin-top: 30px;
}

.facebook-logo {
  width: 30px; /* Regola la dimensione del logo Facebook */
  height: 30px;
  border-radius: 100px;
  transition: transform 0.3s;
}

.facebook-logo:hover {
  transform: scale(1.2); /* Effetto hover per il logo Facebook */
}

.whatsapp-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  transition: transform 0.3s ease;
  border-radius: 100px;
}

.whatsapp-icon:hover {
  transform: scale(1.2); /* Ingrandisce leggermente l'icona al passaggio del mouse */
}

footer a {
  text-decoration: none;
  color: rgb(156, 12, 12); /* Colore link nel footer */
}

.map-container {
  position: relative;
  text-align: center;
  
}

.map-container iframe {
  border-radius: 10px;
}

.map-link {
  display: block;
  margin-top: 10px;
  text-decoration: none;
  color: rgb(156, 12, 12);
  font-weight: bold;
}




