body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
 
}

.container {
  position: relative;
  width: 200%;
  left: 50%;
  transform: translateX(-50%);
  height: auto;
  background-color: lightgray;
  border: 1px solid #555;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 10px;
  padding: 20px;
  display: flex;             /* Usa Flexbox per il layout interno */
  flex-direction: column;    /* Disposizione verticale per testo e icone */
  align-items: center;       /* Centra orizzontalmente */
  justify-content: center;   /* Centra verticalmente */
  text-align: center;        /* Centra il testo all'interno dei suoi contenitori */
}



/* titolo */
.h1 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;  /* Spazio tra il titolo e il form */
  color: rgb(156, 12, 12);
  transition: transform 0.3s ease !important; 
}

h1:hover {
  transform: scale(1.1);
}

h2 {
  margin-bottom: 50px;
}

input[type=email] {
  border: 2px solid lightgray;
  border-radius: 10px;
  font-size: 16px;
  padding: 10px 20px 10px 40px;
  outline: none;
}

label {
  margin-top: 15px;
}

.submit-container {
  margin-top: 30px;
  margin-bottom: 30px;
}

input[type="submit"] {
  background-color: rgb(156, 12, 12);
  color: lightgray;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid #555;
  padding: 10px 20px;
  font-size: 16px;
  outline: none;
  align-items: center;
  font-weight: bold;
  width: 100px;
  transition: transform 0.3s ease;
}

input[type="submit"]:hover {
  color: white;
  transform: scale(1.1);
}

input {
  margin: 10px;
}

.input-container {
  position: relative; /* Per posizionare l'icona all'interno del contenitore */
  width: 100%;
}

/* Layout compatto per label e input */
.form-group {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra etichette e input */
  margin-bottom: 10px; /* Spazio regolabile tra i campi */
}

label {
  font-weight: bold;
  text-align: center;
  width: 100%; /* Fa in modo che il label occupi tutta la larghezza dell'input */
}

/* Per centrare il bottone di invio */
.submit-container {
  display: flex;
  justify-content: center;
}

.input-container {
  position: relative; /* Per posizionare l'icona all'interno del contenitore */
  width: 100%;
}

.icon {
  position: absolute;
  left: 15px; /* Distanza dal bordo sinistro */
  top: 50%; 
  transform: translateY(-50%); /* Centra verticalmente l'icona */
  color: gray;
  width: 20px;
  height: 20px;
}

/*link*/
a {
  text-decoration: none;
  color: rgb(156, 12, 12);
}

.divider {
  width: 70%;          /* Larghezza del 70% del contenitore */
  height: 1px;         /* Altezza della linea */
  background-color: black; /* Colore della linea */
  margin: 20px auto;    /* Centra la linea orizzontale con margine auto */
}


.social-media {
  display: flex;             /* Usa Flexbox per le icone dei social */
  justify-content: center;   /* Centra le icone orizzontalmente */
  gap: 5px;
  margin-top: 20px;          /* Distanza tra il contenuto principale e le icone */
}

.facebook-logo, .whatsapp-icon {
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease;
  border-radius: 100px;
}

.facebook-logo:hover, .whatsapp-icon:hover {
  transform: scale(1.2); /* Aumenta leggermente la dimensione al passaggio del mouse */
}


@media (max-width:768px) {
  .container {
    width: 80%;
  }
}

